section > h2 {
  margin-bottom: 166px;
}

.category-group-wrapper {
  position: relative;
  max-width: 2882px;
  width: 2882px;
  height: auto;
  margin: 0 auto;
  padding: 0 207px 99px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.category-group-items-wrapper {
  width: 2492px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category-group-item-wrapper {
  position: relative;
  max-width: 599px;
  width: 599px;
  height: 888px;
  margin: 0 24px 80px 0;
}

.category-group-item-img {
  max-width: 599px;
  width: 599px;
  height: 800px;
  margin-bottom: 24px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.add-to-favorite {
  width: 62px;
  height: 56px;
  position: absolute;
  top: 15px;
  right: 15px;
  content: url("../../assets/images/sale/favorite.svg");
  cursor: pointer;
}

.add-to-favorite:hover {
  content: url("../../assets/images/sale/favorite-red.svg");
}

.add-to-bag-cat-item {
  position: absolute;
  top: 75%;
  left: 20%;
  opacity: 0;
  width: 342px;
  height: 80px;
  color: #000f08;
  border-radius: 48px;
  border: 1px solid #fff;
  background: #fff;
  cursor: pointer;
  font-size: 36px;
  line-height: 80px;
  text-align: center;
  transition: all 0.3s linear;
}

.add-to-bag-cat-item:hover,
.category-group-item-img:hover ~ .add-to-bag-cat-item {
  opacity: 1;
}

.category-group-item-price {
  width: 200px;
  height: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #d7302d;
}

.show-more-btn {
  width: 480px;
  height: 100px;
  border: 2px solid #000f08;
  font-size: 40px;
  line-height: 32px;
  color: #000f08;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.category-group-spin-wrapper {
  position: relative;
  width: 100%;
}

.category-group-spinner {
  position: absolute;
  margin: 0 auto;
  height: 90px;
  width: 90px;
  border: 5px solid transparent;
  border-top-color: #83004f;
  top: -2000px;
  left: 48%;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}

.spinner::before {
  border-top-color: #18609b;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}

.spinner::after {
  border-top-color: #1dd300;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
