.category-wrapper {
  margin: 0 auto;
  max-width: 2880px;
  width: 2880px;
  height: 768px;
  background-color: #fff;
  padding: 180px 210px 180px 207px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  text-align: center;
  box-sizing: border-box;
}

.category-items {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
