.category {
  max-width: 2880px;
  background-color: #fff;
  padding: 180px 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  text-align: center;
}

.category-items {
  width: 100%;
  height: 180px;
  margin-top: 166px;
  display: flex;
  justify-content: space-between;
}
