section > h2 {
  margin-bottom: 166px;
}

.sale-wrapper {
  position: relative;
  max-width: 2882px;
  width: 2882px;
  height: 1414px;
  margin: 0 auto;
  padding: 180px 207px 99px;
  background: #fff;
}

.sale-items-wrapper {
  width: 100%;
  height: 888px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
}

.sale-item-wrapper {
  position: relative;
  max-width: 599px;
  width: 599px;
  height: 888px;
  margin-right: 24px;
}

.sale-item-img {
  max-width: 599px;
  width: 599px;
  height: 800px;
  margin-bottom: 24px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.add-to-favorite {
  width: 62px;
  height: 56px;
  position: absolute;
  top: 15px;
  right: 15px;
  content: url("../../../assets/images/sale/favorite.svg");
  cursor: pointer;
}

.add-to-favorite:hover {
  content: url("../../../assets/images/sale/favorite-red.svg");
}

.add-to-bag {
  position: absolute;
  top: 75%;
  left: 20%;
  opacity: 0;
  width: 342px;
  height: 80px;
  color: #000f08;
  border-radius: 48px;
  border: 1px solid #fff;
  background: #fff;
  cursor: pointer;
  font-size: 36px;
  line-height: 80px;
  text-align: center;
  transition: all 0.3s linear;
}

.add-to-bag:hover,
.sale-item-img:hover ~ .add-to-bag {
  opacity: 1;
}

.sale-item-price {
  width: 200px;
  height: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #d7302d;
}

.sale-spin-wrapper {
  position: relative;
  width: 100%;
}

.sale-spinner {
  position: absolute;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 15px solid transparent;
  border-top-color: #83004f;
  top: 100px;
  left: 47%;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.sale-spinner::before,
.sale-spinner::after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-radius: 50%;
}

.sale-spinner::before {
  border-top-color: #18609b;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  animation: spin 3s linear infinite;
}

.sale-spinner::after {
  border-top-color: #1dd300;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  animation: spin 4s linear infinite;
}
