.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 38%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  filter: drop-shadow(10px 5px 10px #000);
  right: 24px;
}

.swiper-button-prev {
  filter: drop-shadow(5px 10px 10px #000);
  left: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: url("../../../assets/images/sale/arrow.svg");
}

.swiper-button-prev::after {
  transform: rotate(180deg);
}
