.top-section {
  position: relative;
  background: url("../../assets/images/top-section/TSbg.png") no-repeat;
  background-color: rgba(175 179 182);
  background-position: top left;
  max-width: 2880px;
  height: 1674px;
  color: #fff;
  margin: 0 auto;
}

.top-content {
  position: absolute;
  top: 1000px;
  margin: 0 300px;
  width: 60%;
  height: 370px;
}

h1 {
  width: 634px;
  height: 76px;
  font-weight: 700;
  font-size: 76px;
  line-height: 76px;
  margin-bottom: 40px;
}

.slogan {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 60px;
}

.new-arrivals {
  width: 480px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
}
