@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaNeueLTStd Lt.otf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular 400.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold 700.ttf") format("truetype");
}