.account-modal-wrapper {
  position: fixed;
  height: 100vh;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 2880px;
  width: 2880px;
  background: #bdbdbd;
  background-size: cover;
  animation-name: appear;
  animation-duration: 400ms;
}

.account-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: #fff;
  width: 998px;
  height: auto;
  padding: 80px;
  animation-name: appear;
  animation-duration: 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
}

.close-button {
  width: 32px;
  height: 32px;
  background: url("../../assets/images/create-account/close-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.account-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-input {
  width: 95%;
  height: 46px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 60px;
}

.account-input:focus:invalid {
  box-shadow: 0 0 10px 3px red;
}

.input-error {
  margin-bottom: 5px;
  color: red;
  height: 20px;
  font-size: 18px;
}

.account-input:focus:valid {
  box-shadow: 0 0 10px 3px green;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + label::before {
  border-color: #000;
  background-color: #000;
  background-image: url("../../assets/images/create-account/checkbox-icon.svg");
}

.label-for-checkbox {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 40px;
}

.privacy-policy {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #bdbdbd;
}

.account-form-button {
  width: 480px;
  height: 100px;
  background: #000;
  color: #fff;
  margin: 60px auto;
  font-size: 32px;
  line-height: 32px;
}

u {
  color: #000;
}
